<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SQLite" connectionString="#{SQLiteFile}" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="PackagesDirectory" value="#{PackagesDirectory}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>